@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 235, 235, 235;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.z-10 {
  display: flex;
  flex-wrap: nowrap; /* Ensures no wrapping occurs at base level */
  justify-content: space-between; /* Aligns children on opposite ends */
}

@media (max-width: 900px) {
  .z-10 {
    flex-direction: column; /* Stacks children vertically on small screens */
  }
  .z-10 > div, .z-10 > Search {
    width: 100%; /* Makes each child take the full width of the container */
    margin-top: 50px; /* Adds space between the stacked elements */
  }
}